@model SoaWebsite.Web.Models.Developer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Skills
        </dt>
        <dd>
        @foreach (var item in Model.DeveloperSkills) {
        <li>
            @Html.DisplayFor(modelItem => item.Skill.Name)
        </li>
        }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-idDeveloper="@Model.ID">Edit</a> 
</div>
