@model SoaWebsite.Web.ViewModels.MainViewModel 
@{
     ViewData["Title"] = "Skills matcher"; 
    }
<script src="https://use.fontawesome.com/5b0cca6392.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="lib\sweetalert\dist\sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="lib\sweetalert\dist\sweetalert.css">
<script>
function validateData(ctl, event, id) {
  event.preventDefault();
  swal({
  title: "Are you serious?",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false,
  },  
  function()   
    {  
      window.location.href = "/Main/Delete/" + id;     
  });
};
</script>
<h2>Developers :</h2>
@{ 
    if(Model.SelectedForEdit!=null)
    { Html.RenderPartial("Edit", @Model.SelectedForEdit); 
    }
    if(Model.SelectedForCreate!=null)
    { 
        Html.RenderPartial("Create", new @SoaWebsite.Common.Models.Developer()); 
    }
}


    @using (Html.BeginForm()) {
    <div>
        <h4>Search by skills</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var item in ViewBag.Skills) {
            <td>
                <label><input type="checkbox" name="selectedSkills" value="@item"> @item</label>
            </td>
            }
            <input type="submit" value="Search" />
        </dl>
    </div>
    }

<div>
    <hr/>
    <p> @ViewData["Message"]</p>
</div>


<div>
    <a asp-action="CleanDatabase">
        <input type="submit" value="Remove unused skills"/>
    </a>
</div>


<table class="table">
    <hr />
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedForEdit.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedForEdit.LastName)
            </th>
            <th colspan="2"> Skills </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Developers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @{
                foreach(var skillDev in item.DeveloperSkills){
                    <li> @skillDev.Skill.Name 
                        <a asp-action="DeleteSkill" asp-route-idDeveloper="@skillDev.DeveloperId" asp-route-idSkill="@skillDev.Skill.ID">
                            <i class="fa fa-times" aria-hidden="true" title="Remove this skill"></i>
                        </a>
                    </li>
                }
                }
            </td>
            <td>
                <div class="form-horizontal">
                    <form asp-controller="Main" asp-action="AddSkill" method="post" asp-route-idDeveloper="@item.ID" role="form">
                        @{
                        var skill=new SoaWebsite.Common.Models.Skill();
                        @Html.AntiForgeryToken() 
                        @Html.ValidationSummary(true) 
                        @Html.HiddenFor(model => skill.ID)
                        @Html.EditorFor(model => skill.Name) 
                        @Html.ValidationMessageFor(model => skill.Name)
                        <input type="submit" title="Add a skill" value="+" class="btn btn-success" />
                        }
                    </form>
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-idDeveloper="@item.ID">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit developer" style="color:seagreen"></i>
                </a>
                <a asp-action="Delete" asp-route-idDeveloper="@item.ID" onclick="return validateData(this, event, @item.ID);">
                    <i class="fa fa-times" aria-hidden="true" title="Remove this developer" style="color:red"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>

